@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  color: white;
}

body {
  background: linear-gradient(180deg, rgb(63 63 70) 10%, rgb(24 24 27) 100%);
}
